.App {
  text-align: center;
}

.App-header {
  height: 70px;
  font-size: 20px;
  background-color: white;
}

text {
  font-size: 14px;
  fill: white;
  font-family: courier;
  white-space: pre;
}

.line-number {
  fill: #777;
}
